html, body {
    align-items: center;
    background-color: #21232a;
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    height: 100vH;
    justify-content: center;
}